<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <div class="form-group">
      <h6 class="display-4">Enter input:</h6>

      <!--Template Reference Variable-->
      <input class="form-control" type="text" #inputElement (input)="display(inputElement)" placeholder="Anything random ">
      <br>

      <p>You entered : <b>{{userInput}}</b></p>
    </div>
  </div>
</div>
